PORT=3000
NODE_ENV=development

DATABASE_URL="postgresql://USERNAME:PASSWORD@localhost:5432/DATABASE_NAME?schema=public"

SEED_ADMIN_NAME="ADMIN_NAME"
SEED_ADMIN_EMAIL="ADMIN_EMAIL"
SEED_ADMIN_PASSWORD="ADMIN_PASSWORD"

JWT_ACCESS_SECRET="ACCESS_SECRET"
JWT_REFRESH_SECRET="REFRESH_SECRET"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN_DAYS="7"